
h1 {
    color: brown;
}

* {
    border: solid;
}
.header{
    background-color: aqua;
}
.header1{
    flex-wrap: wrap;
    display: flex;
    justify-content:space-between;
} 
.header3{
    background-color: red;
    display: flex;
    justify-content: baseline;
}
p,h2{
    text-align: center;
    background-color: teal;
}